
.dashboard {
  background-color:white;
    margin-top: 14vh;
    padding: 20px;
    border: 3px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .user-info,
  .game-info {
    margin-top: 20px;
    padding: 15px;
    border: 3px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .leader-info h3,
  .team-info h3,
  .games-list h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .user-info ul,
  .game-info ul {
    list-style: none;
    padding: 0;
  }
  
  .user-info ul li,
  .game-info ul li {
    margin-bottom: 5px;
  }
  
  .team-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  
  .games-list p {
    margin-top: 10px;
  }
  .first_H1{
    margin-top: 3vh;
  }

  /* Additional styles for responsiveness */
  @media (max-width: 768px) {
    .user-info,
    .game-info {
      padding: 10px;
    }
    .first_H1{
      margin-top: 4vh;
    }
  }
  @media (max-width: 1500px) {
    
    .top-banner{
      height: 12vh;
    }
  }
  @media (max-width: 1000px) {
    .top-banner{
      height: 9vh;
    }
  }
  @media (max-width: 768px) {
    .top-banner{
      height: 12vh;
    }
  }
  